@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@100;200;300;400;500;600;700;800&family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Anek Odia';
    background-color: #f5f5f5 !important;
}

.navbar-brand {
    font-family: 'Noto Serif', serif !important;
    font-weight: bolder;
    font-size: 1.5rem !important;
}

.nav-link {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-toggler {
    border: 0 solid transparent !important;
}

.navbar-toggler-icon {
    color: white !important;
}

.center {
    width: 90%;
    padding: 10px;
    margin: 0px auto;
}

.search-input {
    border: 0 !important;
    border-radius: 1.5rem !important;
    box-shadow: none !important;
}

.col-sm {
    text-align: center !important;
}

.products {
    background-color: white;
    border-radius: 0.5rem;
    padding: 10px;
    margin-top: 20px;
}

.navbar-container {
    display: flex;
    width: 92% !important;
}

.search-button {
    position: relative;
    margin-left: 85%;
    color: white;
}

.search-icon {
    float: left;
    width: 35px;
    margin-top: 5px;
    text-align: center;
    line-height: 1.4;
    margin-left: 5px;
}

.search-container {
    border: 0;
    border-radius: 1.5rem !important;
    background-color: white;
}

.contact {
    padding-left: 200px;
    padding-top: 100px;
    position: center;
}

#insta{
    display: block ;
    width: 700px;
    color:#f5f5f5;
    background:  rgb(216,25,200);
    background: linear-gradient(90deg, rgba(216,25,200,1) 0%, rgba(229,16,117,1) 35%, rgba(235,181,36,1) 75%, rgba(237,255,0,1) 93%) !important;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 20px;
    position: center;
    text-align: center;
}

#p-t-c {
    color:rgb(117, 112, 116);
    position: center;
}
footer {
    height: 11rem;
}

.footer {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 10rem;
    width: 100%;
    background-color: #343a40;
}

.footer a {
    margin-top: 1rem;
    font-size: 2rem !important;
    color: white !important;
}